<div class="searchFormContainer">
  <ng-container *ngIf="!isUILoading() && !isUIBlank()">
    <h2>Search more than <strong>553M</strong> issues</h2>
    <mat-form-field class="searchForm" [class.errorInput]="isUIError()">
      <mat-label *ngIf="!isUIError()">Search GitHub</mat-label>
      <mat-label *ngIf="isUIError()">Search error :(</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="query"
        (keyup.enter)="query ? search() : null">
      <mat-error *ngIf="isUIError()">
      </mat-error>
      <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!query" (click)="search()">Search</button>
  </ng-container>
  <ng-container *ngIf="isUILoading()">
    <mat-spinner></mat-spinner>
  </ng-container>
</div>
